
/* Estilizando a pagina index */
.container {
    display: grid;
    grid-template-areas: 
    'header header header'
    'nav content aside'
    'footer footer footer';
    grid-gap: 10px;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

.header {
    grid-area: header;
    background-color: blue;
}

.nav {
    grid-area: nav;
    background-color: blueviolet;
}

.content {
    grid-area: content;
    background-color: brown;
}

.aside {
    grid-area: aside;
    background-color: aquamarine;
}

.footer {
    grid-area: footer;
    background-color: bisque;
}   

/* Estilizando a pagina Main */

.box {
    width: 200px;
    padding: 20px;
    border: 5px solid black;
    margin: 15px;
    background-color: lightgray;
}